body {
    background-color: #1d6eb4; /* Light blue background for better user experience */
        font-family: Arial, sans-serif; /* Simple, clean font */
    }

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff; /* White background for the form */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Slight shadow for a modern look */
    border-radius: 8px; /* Rounded corners */
}

h1 {
    text-align: center;
}

nav {
    height: 100px;
    width: 0px;
    float: left;
    line-height: 30px;
    text-wrap: nowrap;
}

nav ul li {
    color: #000000;
}

a {
    color: #000000;
}

label {
    display: block;
    margin-top: 10px;
    color: #000000;
    text-indent: 5px;
}
        
input[type="text"], input[type="number"] {
    width: 97.4%;
    padding: 8px;
    margin-left: 0px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
        
.error {
    color: red;
    margin-bottom: 10px;
}
        
.submit-btn {
    width: 100%;
    padding: 10px;
    margin-top: 20px; /* Reduce space above the button */
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
        
.submit-btn:hover {
    background-color: #218838;
}
        
.hidden {
display: none;
}

.success {
    color: green;
    text-align: center;
    transition: opacity 0.5s ease-in-out; /* Smooth fade-in effect */
    opacity: 1;
}

footer {
    text-align: center;
    color: black;
    margin-top: 55px;
  }